<div id="adbar">
  <header>
    <h1 class="title">Advertisements</h1>
    <i>Made by students, shown to students</i>
  </header>
  <div class="adcontainer">
  </div>
  <script>
    var text = '{ "advertisements" : [ { "text" : "test1" }, { "text" : "test2" }, { "text" : "adssadsadsa" } ] }';
    var obj = JSON.parse(text);
    
    var container = document.getElementById('adbar').getElementsByClassName('adcontainer')[0];
    
    for (i = 0; i < obj.advertisements.length; i++) {
      var adImage = document.createElement('p');
      container.appendChild(adImage);
      adImage.style.color = '#FFF';
      adImage.innerHTML = obj.advertisements[i].text;
    }
  </script>
</div>
