<div class="adbox">
    <header>
        <h2>Advertisement</h2>
    </header>
    <div class="adcontainer">
        <script>
            var adImage = document.createElement('p');

            var container = document.currentScript.parentElement;

            container.appendChild(adImage);

            if (loaded) {
                //adImage.innerHTML = adObject[{{ include.param }} - 1].text;
                adImage.innerHTML = adjson.ads[{{ include.param }}].text;
            } else {
                onAdsLoaded.add(function() {
                    console.log({{ include.param }} - 1);
                    console.log(adjson.ads[{{ include.param }} - 1].text);
                    //adImage.innerHTML = adjson.ads[{{ include.param }} - 1].text; 
                    adImage.innerHTML = "test";
                });
            }
        </script>
    </div>
    <hr>
</div>