---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  <!--<script>
    var adjson;

    var loaded = false;

    function createEvent() {
      var invokeList = [];

      var event = function() {
          for (var i = 0; i < invokeList.length; i++) {
              invokeList[i].apply(arguments);
          }
      }

      event.add = function(value) {
          invokeList[invokeList.length] = value;
      }

      return event;
    }

    onAdsLoaded = createEvent();
    
    console.log("doing the thing");
    jQuery.getJSON(
      "http://localhost:4000/assets/advertisements/ads.json",
      (x, y, z) => {
        adjson = x;
        console.log(x);
        console.log(adjson.ads[0]);
        loaded = true;
        onAdsLoaded();
      }
    );

  </script>-->

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>

  {% capture index %}{{ forloop.index }}{% endcapture %}

  {% include advertisement.html num=index %}

  {% endfor %}

  {% include pagination-older.html %}
</div>